@model Clothes

@{
    ViewData["Title"] = "Delete";
}

<div class="row">

    <div class="col-md-8 offset-2">
        <h1 class="badge bg-danger">Delete confirmation for @Model.Name</h1>
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageUrl" style="width:100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text"><b>Category: </b>@Model.ClothesCategory</p>
                        <p class="card-text">
                            <b>Fashion House: </b>
                        </p>
                        <p class="card-text">
                            <b>Designers: </b>
                            <hr />
                            <div class="row">
                                @foreach (var item in Model.Designer_Clothes)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" style="max-width: 150px" src="@item.Designer.ProfilePictureUrl" />
                                        <br />
                                        <a asp-controller="Designer" asp-action="Details" asp-route-id="@item.DesignerId">@item.Designer.FullName</a>
                                    </div>
                                }
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            <a asp-action="Index" class="btn btn-outline-primary float-right">
                                Back to List
                            </a>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <form asp-action="DeleteConfirmed">
                                    <input asp-for="Id" hidden />
                                    <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                                </form>
                            }

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>