@model Clothes

@{
    ViewData["Title"] = "Clothes details";
}

<div class="row">

    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Name
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageUrl" style="width:100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text"><b>Category: </b>@Model.ClothesCategory</p>
                        <p class="card-text">
                            <b>Fashion House: </b>
                            <a asp-controller="FashionHouse" asp-action="Details" asp-route-id="@Model.FashionHouseId">
                                @Model.FashionHouse.FullName
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Designers: </b>
                            <hr />
                            <div class="row">
                                @foreach(var item in Model.Designer_Clothes)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" style="max-width: 150px" src="@item.Designer.ProfilePictureUrl" />
                                        <br />
                                        <a asp-controller="Designer" asp-action="Details" asp-route-id="@item.DesignerId">@item.Designer.FullName</a>
                                    </div>
                                }
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            <a asp-action="Index" class="btn btn-outline-primary float-right">
                                Back to List
                            </a>
                            <a class="btn btn-success text-white" asp-controller="Order" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus">Add to Cart (@Model.Price.ToString("c"))</i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>